@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .friend-img {
    background-image: url("./assets/rectangle9.png");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    padding-left: 200px;
  }
  .show-left {
    background-image: url("./assets//rectangle-left.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateX(-25px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
