* {
  box-sizing: border-box;
}
.box {
  width: 120px;
  height: 330px;
  border: 2px solid grey;
  background-color: black;
  border-radius: 10px;
}
.box div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px auto;
}
.searcle-1 {
  background-color: rgb(124, 11, 11);
}
.searcle-2 {
  background-color: rgb(97, 97, 10);
}
.searcle-3 {
  background-color: rgb(16, 102, 16);
}
.color-1 {
  background-color: rgb(253, 3, 3);
}
.color-2 {
  background-color: yellow;
}
.color-3 {
  background-color: rgb(7, 241, 7);
}
