.box {
  display: flex;
  justify-content: center;
}
.item {
  width: 150px;
  height: 150px;
  border: 2px solid grey;
  margin: 0px 10px;
  text-align: center;
  border-radius: 10px;
}
.item b {
  font-size: 50px;
}
input {
  margin: 20px auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
}
.show {
  width: 200px;
  padding: 10px 0px;
  border-radius: 10px;
}
.way-box {
  text-align: center;
}
.choose {
  margin: 20px auto 0px;
  padding: 10px;
  border-radius: 10px;
}
